<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Внутренний контроль</title>
</head>
<body>
    <h1>Модуль "Внутренний контроль"</h1>

    <ul>
        <li><a href="{% url 'control_risk_create' %}">➕ Добавить риск</a></li>
        <li><a href="{% url 'control_risk_list' %}">📋 Реестр рисков</a></li>
        <li><a href="{% url 'control_point_create' %}">➕ Добавить контрольную точку</a></li>
        <li><a href="{% url 'control_point_list' %}">📋 Реестр контрольных точек</a></li>
    </ul>
</body>
</html>
