
@font-face {
  font-family: 'bpmn';
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAZkABAAAAAAFlAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDxQZn2NtYXAAAAFYAAAAgAAAAIAAAACcZ2x5ZgAAAVgAAAD0AAAA9AJrAtZoZWFkAAABmAAAADYAAAA2AR0F4GhoZWEAAAG4AAAAIAAAACAAHgAe2GhtdHgAAAHQAAAADgAAAA4AAwAAbG9jYQAAB1gAAAAeAAAAHgBQAFRtYXhwAAAHqAAAACAAAAAgACUAGm5hbWUAAAgEAAABUgAAAVKzA5yccG9zdAAACSAAAAAgAAAAIAAyAEIAAQAAAAEAAAABAABAAAAAQAAAAEAAAAEAADgAAEAAAAEAAEAAQAAADwAzAABAAAAAAAAAAAAAAAAAAAABQAAAAAAAAAAAAAAAAAA) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="bpmn-icon-"], [class*=" bpmn-icon-"] {
  font-family: 'bpmn' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
