@font-face {
  font-family: 'bpmn-io-font';
  src: url('/static/bpmn/assets/bpmn-font/fonts/bpmn.woff2') format('woff2'),
       url('/static/bpmn/assets/bpmn-font/fonts/bpmn.woff') format('woff'),
       url('/static/bpmn/assets/bpmn-font/fonts/bpmn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
